# ========================================================
# 		REUNION CONFIGURATION FOR ZOMBIE SERVER
# ========================================================

# ========================================================
# 		AUTHID MANAGEMENT (НАСТРОЙКА STEAMID)
# ========================================================

cid_Steam = 1
cid_SteamPending = 3
cid_HLTV = 7
cid_NoSteam47 = 3
cid_NoSteam48 = 3
cid_RevEmu = 1
cid_RevEmu2013 = 1
cid_SC2009 = 1
cid_OldRevEmu = 1
cid_SteamEmu = 1
cid_AVSMP = 1
cid_Setti = 3
cid_SXEI = 1

### AUTH SETTINGS (ВАЖНО ДЛЯ КРЕДИТОВ И АДМИНОК) ###

AuthVersion = 4
SteamIdHashSalt = Zm83Nx92PlK54QsR10WbV94mXz73Lp21
SC2009_RevCompatMode = 1
EnableSXEIdGeneration = 0
EnableGenPrefix2 = 1
HLTVExcept_IP = 127.0.0.1

### AUTHID PREFIXES (ДЛЯ СТАРЫХ ВЕРСИЙ, ИГНОРИРУЮТСЯ В AUTHVERSION 4) ###
IPGen_Prefix1 = 0
IPGen_Prefix2 = 4
Native_Prefix1 = 0;
RevEmu_Prefix1 = 1;
RevEmu2013_Prefix1 = 1;
SC2009_Prefix1 = 1;
OldRevEmu_Prefix1 = 2;
SteamEmu_Prefix1 = 3;
AVSMP_Prefix1 = 4;
Setti_Prefix1 = 5;
SXEI_Prefix1 = 6;

# ========================================================
# 		SERVER QUERIES MANAGEMENT (ЗАЩИТА И ВИДИМОСТЬ)
# ========================================================

ServerInfoAnswerType = 2
FixBuggedQuery = 1
EnableQueryLimiter = 1
QueryFloodBanLevel = 600
QueryFloodBanTime = 15

[QueryLimiterExceptIP]
127.0.0.1

AllowSplitPackets = 1
IDClientsLimit = 2

# ========================================================
# 		OTHER STUFF (ЛОГИ)
# ========================================================

LoggingMode = 2
