# ========================================================
# 	ИНИЦИАЛИЗАЦИЯ REGAMEDLL (СИСТЕМНЫЕ НАСТРОЙКИ)
# ========================================================

# bot_enable (0 / 1) - Включение встроенных ZBot (ботов из CS:CZ)
# 0 = Выключено (стандартные боты не загружаются в память сервера)
# 1 = Включено (активирует встроенную навигацию ботов)
# РЕКОМЕНДАЦИЯ ДЛЯ ЗОМБИ: Ставим строго "0". Встроенные ZBot не умеют играть в зомби-мод: они паникуют, не бегут в нычки, не используют кастомное оружие и вызывают жесткие лаги. Если боты понадобятся, позже мы поставим специальный плагин SyPB, адаптированный под зомби.
bot_enable "0"


# hostage_ai_enable (0 / 1) - Улучшенный интеллект заложников из CS:CZ
# 0 = Выключено (классические глупые заложники из CS 1.6, которые просто бегут сзади)
# 1 = Включено (заложники могут приседать, перепрыгивать препятствия, пугаться выстрелов)
# РЕКОМЕНДАЦИЯ ДЛЯ ЗОМБИ: Ставим "0". На зомби-серверах карты с заложниками (cs_) практически не используются, а этот параметр в значении 1 дает лишнюю нагрузку на процессор.
hostage_ai_enable "0"


# mp_hullbounds_sets (0 / 1) - Метод расчета размеров тела (хитбоксов) игрока
# 0 = Выключено (размеры игрока задает старый движок GoldSrc. Из-за этого часто ломаются подсадки и анимации приседаний)
# 1 = Включено (размеры жестко контролирует современный ReGameDLL, исправляя баги с хитбоксами)
# РЕКОМЕНДАЦИЯ ДЛЯ ЗОМБИ: Ставим строго "1". Это критически важно, чтобы хитбоксы огромных зомби-боссов или маленьких зомби-немезид рассчитывались правильно и люди могли по ним попадать.
mp_hullbounds_sets "1"