; ===================================================================
;        AMX Mod X - Добавление кастомных пунктов в админ-меню
; ===================================================================
; Формат для админов:   amx_addmenuitem "<Имя в меню>" "<Команда>" "<Флаг_доступа>" "<Имя_плагина>"
; Формат для игроков: amx_addclientmenuitem "<Имя в меню>" "<Команда>" "<Флаг_доступа>" "<Имя_плагина>"

; --- ПРИМЕРЫ НАСТРОЙКИ (ОТКЛЮЧЕНЫ ЗНАКОМ ';') ---
;amx_addmenuitem "Меню Зомби" "zp_admin_menu" "u" "Zombie Plague"       ; Пример выноса админки ZP в amxmodmenu
;amx_addclientmenuitem "Магазин" "zp_shop" "" "Zombie Plague"          ; Пример выноса магазина ZP для обычных игроков