; ===================================================================
;        AMX Mod X - Настройка подключения к базе данных MySQL
; ===================================================================

amx_sql_host    "127.0.0.1"        ; IP сайта или 127.0.0.1 для локалки (на Linux пиши строго IP)
amx_sql_user    "root"             ; Логин от твоей базы данных (на локалке обычно root)
amx_sql_pass    ""                 ; Пароль от базы данных (на локалке оставь пустым)
amx_sql_db      "evangelion_zm"     ; Название созданной базы данных на ПК или хостинге
amx_sql_table   "eva_admins"    ; Название таблицы для админов под CSBans/AmxBans
amx_sql_type    "mysql"            ; Драйвер базы данных (строго mysql для работы с сайтом)
amx_sql_timeout "0"                ; Зануление ожидания ответа базы (защита сервера от лагов)